<thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">ISBN</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Description</th>
    <th scope="col">Published Year</th>
    <th scope="col">Publisher</th>
    <th scope="col">Action</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let book of Books">
    <td>{{book._id}}</td>
    <td>{{book.isbn}}</td>
    <td>{{book.title}}</td>
    <td>{{book.author}}</td>
    <td>{{book.description}}</td>
    <td>{{book.publishedYear}}</td>
    <td>{{book.publisher}}</td>
    <td>
      <button class="btn btn-sm btn-primary me-1" (click)="editBook(book._id)">Edit</button>
    </td>
  </tr>
</tbody>
